node_modules
.vscode/
/**/.git
part10/githubRater/.git
part11/full-stack-open-pokedex/.git
part12/part12-containers-applications/.git
part13/blog-app/.git
# part3/notes-back/.git
# part3/phonebook/.git
# part4/blog/.git
.env
cypress/videos/
redis_data
mongo_data