body {
  overflow-x: hidden;
  padding: 0.5em;
}

pre {
  white-space: pre-wrap;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.weather-container {
  margin-top: 2em;
}

.weather-grid {
  display: flex;
}

.weather-icon {
  position: relative;
  margin-top: 0;
  padding-right: 2rem;
}

.weather-temp {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 3rem;
  font-weight: bold;
}

.weather-data {
  padding-left: 0.3rem;
}