@import url('https://fonts.googleapis.com/css2?family=Coustard&family=Roboto&display=swap');

:root {
  --bg: #34465c;
  --light-blue: #00a3bc;
}

body {
  padding: 1rem;
  background-color: var(--bg);
  color: var(--light-blue);
  font-family: 'Roboto', sans-serif;
}

h2 {
  margin: 0;
  margin-bottom: .5em;
}

button {
  margin: .2em;
}

.quote-container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  align-items: center;
}

.quote-text {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  height: auto;
  flex-grow: 1; 
}

.quote-text.large {
  font-size: 3rem;
}

.quote-text.small {
  font-size: 1rem;
  font-style: italic;
}

.quote-mark {
  color: var(--light-blue);
  font-family: 'Coustard', serif;
  font-size: 10em;
  height: 0.5em;
}

.subquote-container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}